<h1>
  Add a new cuisine
</h1>


<hr>

<!-- Form cuisine start -->
<form action="/create_cuisine" method="post">
<!-- Form cuisine end -->

  <!-- Label and input for name start -->
  <div class="form-group">
    <label for="name">
      Name
    </label>

    <!-- Input for name start -->
    <textarea id="name" name="name" class="form-control" rows="3"></textarea>
    <!-- Input for name end -->
  </div>
  <!-- Label and input for name end -->

  <button class="btn btn-block btn-outline-secondary">
    Create cuisine
  </button>
</form>

<hr>

<a href="/cuisines">
  Go back
</a>
